@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url('../img/blue-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    width: min(100% - 32px, 1080px);
    margin-inline: auto;
    text-align: center;
    /* position: relative; */
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* text-align: right; */
}

.content {
    position: relative;
    z-index: 1;
    width: 30em;
    height: 25em;
    border-radius: 5px;
    color: white;
    padding: 0px 10px;
    text-align: center;
    margin: auto;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.10); 
    /* visibility: hidden; */
}  

.message {
    margin-top: 15px;
    color:#497c99;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 30px;
    margin: 0;
    color: rgb(215, 49, 221);
}

.start-btn {
    background: #3664e2;
    color: #fff;
    width: 120px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    animation: flash 1s infinite;
    transition: transform 0.3s ease;
}

.start-btn:hover {
    transform: scale(0.9);
}

section {
    
    .timer {
        font-size: 50px;
        font-weight: 400;
    }
}

.number {
    background-color: rgb(218, 72, 223);
    width: 270px;
    height: 80px;
    margin-top: 10px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: auto;
    user-select: none;
    transition: box-shadow 0.3s ease;
}

.hits {
    margin-top: 15px;
}

.sample-btn {
    margin-top: 15px;
    width: 270px;
    height: 40px;
    border-radius: 5px;
    background-color: #296fca;
    color: #fff;
    cursor: not-allowed;
}

.input {
    visibility: hidden;
    margin-top: 10px;
    width: 270px;
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
    background: linear-gradient(to right, #68b7eb, #c63ed8);
    /* background: none; */
    color: white;
    text-shadow: 0 0 5px #d4cada, 0 0 10px #ffffff;
    box-shadow: 0 0 5px #473380;
}

.input.visible {
    visibility: visible;
    opacity: 1;
    margin-top: 25px;
}

.Scoreboard {
    background-color: #151f41;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px; */
    padding: 10px;
    width: 25rem;
    height: 25em;
    display: none;
    /* overflow: scroll; */
    position: relative;
    
    h1 {
        font-size: 25px;
        margin: 0;
        padding: 0;
    }

}
.score-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    margin-top: 20px;
    color: #c63ed8;
    gap: 10px;
    /* padding: 0; */
    /* line-height: 20px; */
    /* flex-wrap: wrap; */
}
.score-item {
    display: flex;
    justify-content: space-between; /* Space out date, hits, and accuracy */
    width: 100%; /* Ensure items stretch to full width */
}

.score-item span {
    margin-right: 10px; /* Add space between spans */
}

.close {
    color: #52d5ec;
    /* float: right; */
    font-size: 28px;
    /* font-weight: bold; */
    cursor: pointer;
    position:absolute;
    right: 0;
    /* left: 0; */
    top: 0;
    /* margin: 0;
    padding: 0; */
    line-height: 20px;
}
  
.close:hover {
    color: #000;
}
  
/* .flash {
    animation: flash-blink 1s infinite;
}
  
@keyframes flash-blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
} */
